:root {
    --color-principal: #006D77;
    --color-secundario: #EDF6F9;
    --celeste: #83C5BE;
}

.form-size{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .form-size label{
     width: 20%;
 }
 .input-Product{
     color:#474747;;
     text-align: center;
     align-items: center;
     font-size: 20px;
 }
 .size-edit{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 .size-edit select{
     width: 50%;
 }
 #image-create{
     display: none;
 }
 #image-edit{
     display: none;
 }
 .label-edit{
     display: flex;
     justify-content: space-around;
     margin-top: 20px;
     margin-bottom: 5px;
     border-color :transparent;
     padding: 20px;
     width:100%;
     background-color: var(--celeste);
     color: white;
     text-align: center;
     align-items: center;
     color: #000;
     transition: all 0.3s ease;
 }
 .label-create{
     display: flex;
     justify-content: space-around;
     margin-top: 20px;
     margin-bottom: 5px;
     border-color :transparent;
     padding: 20px;
     width:100%;
     background-color: var(--celeste);
     color: white;
     text-align: center;
     align-items: center;
     color: #000;
     transition: all 0.3s ease;
 }
 
 .label-create:hover{
     box-shadow: 0px 0px 10px var(--celeste);
 }
 .label-edit:hover{
     box-shadow: 0px 0px 10px var(--celeste);
 }