:root {
    --color-principal: #006D77;
    --color-secundario: #EDF6F9;
    --celeste: #83C5BE;
}

  /* BODY */
  body {
    background-color: var(--color-secundario);
    position: relative;
  }

.product-container{
  padding : 12px;
}

.product-link {
 height: 200px;
 overflow: hidden;
}

  .product-link img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    background-color: #f9f9f9;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80vw;
    max-width: 300px;
  }
  .product-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .add-to-cart-button {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    font-size: larger;
    border: 2px solid var(--color-secundario);
    background-color: var(--celeste);
    transition: 0.3s;
  }

  .add-to-cart-button:hover {
    transform: scale(1.1);
  }

  /* FOOTER */

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 180px;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    padding: 0;
    border: none;
    border-top: 5px solid var(--color-secundario);
    font-size: 16px;

}
footer article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* Media Queries */

  @media only screen and (min-width: 576px){
      
    .product-card {
      width: 40vw;
    }  
    .product-link {
      height: 150px;
    }
  }
    

  @media only screen and (min-width: 768px){
    .product-card {
      width: 28vw;
    } 
    .product-link {
      height: 200px;
    }
  }
   
  @media only screen and (min-width: 992px){
    .product-card {
      width: 20vw;
    } 
    .product-link {
      height: 300px;
    }
  }
    
    
