:root {
    --color-principal: #006D77;
    --color-secundario: #EDF6F9;
    --celeste: #83C5BE;
}
  
  /* BODY */
  body {
    background-color: var(--color-secundario);
    position: relative;
  }

.product-link {
  margin: 12px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0;
  box-sizing: border-box;
  position: relative;
  top: 140px;
}

  .product-link img {
    width: 100%;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    background-color: #f9f9f9;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50vh;
  }
  .product-card img {
    width: 20vw;
    border-radius: 8px;
  }

  .product-card h2 {
    color: var(--color-principal);
  }
  
  .product-info {
    text-align: center;
  }

  .add-to-cart-button {
    height: 60px;
    width: 36vh;
    border-radius: 5px;
    font-size: larger;
    border: 2px solid var(--color-secundario);
    background-color: var(--celeste);
    transition: 0.3s;
  }

  .add-to-cart-button:hover {
    transform: scale(1.1);
  }

  /* FOOTER */

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 180px;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    padding: 0;
    border: none;
    border-top: 5px solid var(--color-secundario);
    font-size: 16px;

}
footer article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

footer article h4{
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding: 2px;
}

footer article p{
    font-size: 12px;
    margin: 0 auto;
    padding: 2px;
}

footer article a{
    font-size: 10px;
     margin: 0 auto;
    padding: 2px;
    color: var(--color-principal);
    text-decoration: none;
} 

footer article a:hover{
    color: var(--celeste);
    text-decoration: underline;
}

footer article i{
    font-size: 10px;
    margin: 0 auto;
    padding: 2px;
    color: var(--color-principal);
}

  @media only screen and (max-width: 575px){
      
      .product-link {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      
      .product-link img {
        width: 100%;
        height: 20vh;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }

      .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
        background-color: #f9f9f9;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 40vw;
      }
      
      .product-card img {
        width: 30vw;
        border-radius: 8px;
      }
      
      .product-info {
        text-align: center;
      }
      .product-info h2{
        font-size: medium;
      }
      .product-info p{
        font-size: small;
      }
    
      main {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
    .side-by-side-images a img {
        display: none;
      }

      .add-to-cart-button {
        height: 35px;
        width: 20vh;
        border-radius: 5px;
        font-size: larger;
        border: 2px solid var(--color-secundario);
        background-color: var(--celeste);
        transition: 0.3s;
      }
  }

  @media only screen and (min-width: 576px) and (max-width: 767px){
    .mobile-container {
        padding: 12px;
      }
      .side-by-side-images a img {
        display: none;
      }
      
      .product-link {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      
      .product-link img {
        width: 100%;
        height: 20vh;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
      
      .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        background-color: #f9f9f9;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 40vw;
      }
      
      .product-card img {
        width: 40vw;
        border-radius: 8px;
      }
      
      .product-info {
        text-align: center;
      }
    
      main {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px){
    .side-by-side-images {
        display: none;
    }
    #image-left {
        padding: 1px;
        box-sizing: border-box;
        height: 40vh;
        width: 50vw;
    }
    #image-right {
        padding: 1px;
        box-sizing: border-box;
        height: 40vh;
        width: 50vw;
    }
    
    .product-link {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      
      .product-link img {
        width: 100%;
        height: 20vh;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
      main {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
    
    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        background-color: #f9f9f9;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 28vh;
      }
      .product-card img {
        width: 20vw;
        border-radius: 8px;
      }
      
      .product-info {
        text-align: center;
      }
      
  }

