:root {
    --color-principal: #006D77;
    --color-secundario: #EDF6F9;
    --celeste: #83C5BE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /*  HEADER: Nav*/
  nav {
    display: flex;
    flex-wrap: wrap;    
    
  }

  nav a {
    text-decoration: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    background-color: var(--celeste); 
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 4px 10px var(--color-secundario);
    margin: 0;
    padding: 0;
  }

  .logo {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 12px;

  }

  .logo img {
    width: 80%;
    height: 80%;
    object-fit: fill;
    border-radius: 150px;
  }

  .div-reg{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    margin: 10px auto;
    margin-right: 0;
    width: 50%; 
    height: 100%;
    padding: 20px auto;
    padding-right: 0;
    border: none;
    color: var(--color-secundario);
    font-size: 10px;
  }

  .div-reg p{
    margin: 0;
    margin-right: 0;
    padding: 10px;
    font-size: 10px;

  }
    .div-reg p:hover{
        color: var(--color-principal);
        font-style: bold;
    }
        

  .search-input {
    flex: 1;
    height: 20px;
    margin: 24px 16px 8px 8px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: var(--color-principal);
    display: none;
  }

  
  .search-input:focus {
    outline: none;
    border: 2px solid var(--color-principal);
    align-content: center;
  }

  .options-list {
    text-align: center;
    width: 100%;
  }

  .options-list ul {
    list-style: none;
    padding: 0;
  }

  .options-list li {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .options-list li a{
    color: var(--color-principal);
    transition: 0.5s;
  }

  .options-list li a:hover{
    font-size: bold;
    text-decoration: underline;
  }

  .right-icons {
    margin-left: auto;
  }

  .right-icons i {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  /*main*/
  
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 20px;

    }

    .main h1 {
        font-size: 40px;
        color: var(--color-principal);
        margin: 20px;
    }

    .main p {
        font-size: 20px;
        color: var(--color-principal);
        margin: 20px;
    }

    .main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 20px auto;
        padding: 20px;
        border: 0.5px solid var(--color-principal);
        border-radius: 20px;
        box-shadow: 2px 4px 10px var(--color-secundario);
        
    }

    .main form input {
        width: 50%;
        height: 30px;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: var(--color-principal);
    }

    .main form input:focus {
        outline: none;
        border: 2px solid var(--color-principal);
    }

    .main form button {
        width: 50%;
        height: 30px;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: var(--color-principal);
        background-color: var(--color-principal);
        color: var(--color-secundario);
    }

    .main form button:hover {
        background-color: var(--color-secundario);
        color: var(--color-principal);
        cursor: pointer;
    }

    .main form a {
        font-size: 16px;
        color: var(--color-principal);
        margin: 10px;
    }

    .main form a:hover {
        text-decoration: underline;
    }

    .main form p {
        font-size: 16px;
        color: var(--color-principal);
        margin: 10px;
    }

    .main form p a {
        font-size: 16px;
        color: var(--color-principal);
        margin: 10px;
    }

    .main form p a:hover {
        text-decoration: underline;
    }

    .main form p a span {
        font-size: 16px;
        color: var(--color-principal);
        margin: 10px;
    }

    .main form p a span:hover {
        text-decoration: underline;
    }   

    /*FOOTER*/
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 180px;
        background-color: var(--color-secundario);
        color: var(--color-principal);
        padding: 0;
        border: none;
        border-top: 5px solid var(--color-secundario);
        font-size: 16px;
    
    }
    footer article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    
    footer article h4{
        font-size: 16px;
        font-weight: bold;
        margin: 0 auto;
        padding: 2px;
    }
    
    footer article p{
        font-size: 12px;
        margin: 0 auto;
        padding: 2px;
    }
    
    footer article a{
        font-size: 10px;
         margin: 0 auto;
        padding: 2px;
        color: var(--color-principal);
        text-decoration: none;
    } 
    
    footer article a:hover{
        color: var(--celeste);
        text-decoration: underline;
    }
    
    footer article i{
        font-size: 10px;
        margin: 0 auto;
        padding: 2px;
        color: var(--color-principal);
    }
    