@import url("home.css"); 
@import url("login.css");
@import url("registro.css");
@import url("producto.css");
@import url("carrito.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}