body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .side-by-side-images {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
  }
  
  .side-by-side-images a img {
    width: 100%;
    display: flex;
    padding-bottom: 0;
    box-sizing: border-box;
    object-fit: fill;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    justify-content: space-around;
    margin: 12px;
}
#image-left {
    padding: 1px;
    box-sizing: border-box;
    height: 40vh;
    width: 50vw;
}
#image-right {
    padding: 1px;
    box-sizing: border-box;
    height: 40vh;
    width: 50vw;
}

.product-link {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .product-link img {
    width: 100%;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    background-color: #f9f9f9;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 40vh;
  }
  .product-card img {
    width: 20vw;
    border-radius: 8px;
  }
  
  .product-info {
    text-align: center;
  }
  

  @media only screen and (max-width: 575px){
      
      .product-link {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      
      .product-link img {
        width: 100%;
        height: 20vh;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }

      .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
        background-color: #f9f9f9;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 40vw;
      }
      
      .product-card img {
        width: 30vw;
        border-radius: 8px;
      }
      
      .product-info {
        text-align: center;
      }
      .product-info h2{
        font-size: medium;
      }
      .product-info p{
        font-size: small;
      }
    
      main {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
    .side-by-side-images a img {
        display: none;
      }

  }

  @media only screen and (min-width: 576px) and (max-width: 767px){
    .mobile-container {
        padding: 12px;
      }
      .side-by-side-images a img {
        display: none;
      }
      
      .product-link {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      
      .product-link img {
        width: 100%;
        height: 20vh;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
      
      .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        background-color: #f9f9f9;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 40vw;
      }
      
      .product-card img {
        width: 40vw;
        border-radius: 8px;
      }
      
      .product-info {
        text-align: center;
      }
    
      main {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px){
    .side-by-side-images {
        display: none;
    }
    #image-left {
        padding: 1px;
        box-sizing: border-box;
        height: 40vh;
        width: 50vw;
    }
    #image-right {
        padding: 1px;
        box-sizing: border-box;
        height: 40vh;
        width: 50vw;
    }
    
    .product-link {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      
      .product-link img {
        width: 100%;
        height: 20vh;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        object-fit: cover;
      }
      main {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
    
    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        background-color: #f9f9f9;
        padding: 4px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 28vh;
      }
      .product-card img {
        width: 20vw;
        border-radius: 8px;
      }
      
      .product-info {
        text-align: center;
      }
      
  }