<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="/css/carrito.css">
            <title>PetShop Innovador - Carrito</title>
        </head>
<body>
    <%- include('partials/header') %>
<div class="icon-div">       
<i class="fas fa-arrow-left"></i>
</div>    
<div class="div-img">
    <img class="img-carrito" src="https://media.lmneuquen.com/p/8e66f9ee5d71ae3c2987078238c338cd/adjuntos/195/imagenes/003/530/0003530994/p21-collar-perrosce_id303988jpg.jpg" alt="Imagen 1" />
    <div class="div-contenido">
        <h3>Titulo del producto</h3>
    <select name="cantidad">
        <option name="cantidad" value="1">1 u.</option>
        <option name="cantidad" value="2">2 u.</option>
        <option name="cantidad" value="3">3 u.</option>
        <option name="cantidad" value="4">4 u.</option>
        <option name="cantidad" value="5">5 u.</option>
        <option name="cantidad" value="6">6 u.</option>
        <option name="cantidad" value="7">7 u.</option>
        <option name="cantidad" value="8">8 u.</option>
        <option name="cantidad" value="9">9 u.</option>
        <option name="cantidad" value="10">10 u.</option>
    </select>
    <div class="div-botones-precio">
    <div class="div-button">
        <button>Eliminar</button>
    <button>Guardar</button>
    </div> 
    <div class="precio">
        <p>$5000</p>
    </div>
    </div>
    </div>
</div>
<div class="div-img">
    <img class="img-carrito" src="https://media.lmneuquen.com/p/8e66f9ee5d71ae3c2987078238c338cd/adjuntos/195/imagenes/003/530/0003530994/p21-collar-perrosce_id303988jpg.jpg" alt="Imagen 1" />
    <div class="div-contenido">
        <h3>Titulo del producto</h3>
    <select name="cantidad">
        <option name="cantidad" value="1">1 u.</option>
        <option name="cantidad" value="2">2 u.</option>
        <option name="cantidad" value="3">3 u.</option>
        <option name="cantidad" value="4">4 u.</option>
        <option name="cantidad" value="5">5 u.</option>
        <option name="cantidad" value="6">6 u.</option>
        <option name="cantidad" value="7">7 u.</option>
        <option name="cantidad" value="8">8 u.</option>
        <option name="cantidad" value="9">9 u.</option>
        <option name="cantidad" value="10">10 u.</option>
    </select>
    <div class="div-botones-precio"> 
    <div class="div-button">
        <button>Eliminar</button>
    <button>Guardar</button>
    </div> 
    <div class="precio">
        <p>$5000</p>
    </div>
</div>
    </div>
</div>
<div class="div-final-productos">
    <div class="div-precio-total">
        <h4>Cantidad de productos</h4>
        <p>2</p>
    </div>
    <div class="div-precio-total">
        <h4>Envio</h4>
        <p>$3000</p>
    </div>
    <div class="div-precio-total">
        <h4>Total</h4>
        <p>$5000</p>
    </div>
    <button class="continuar-compra">Continuar compra</button>
</div>
</body>
<footer>
    <article>
        <h3>Contactanos</h3>
        <a href="#">petshop7@gmail.com</a>
        <p>Tel: 555-555-555</p>
        <p><i class="fas fa-map-marker-alt"></i> Av. Gral Paz 1234</p>
    </article>
    <article>
    <h3>Seguinos</h3>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-tiktok"></i>
    </article>
    <article>
    <h3>Metodos de pago</h3>
    <p><i class="far fa-credit-card"></i>Tarjeta</p>
    <p><i class="fas fa-hand-holding-usd"></i>Efectivo</p>
    <p><i class="fas fa-comments-dollar"></i>Transferencia</p>
    </article>
</footer>

</html>