<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/create.css">
    <title>PetShop Innovador - Home</title>
</head>
<body>
  <%- include('partials/header') %>
  
      <main>
        <ul class="errores"></ul> 
        <form action="/producto/create" method="post">
            <label for="name">Nombre del producto</label>
            <input type="text" name="name" id="name" value="">
            <label for="description">Descripcion:</label>
            <input type="text" name="description" id="description">
            <label for="price">Precio: </label>
            <input type="number" name="price" id="price">
            <label for="image">Imagen: <i class="fas fa-upload"></i></label>
            <input type="file" name="img" id="img">
            <label for="category">Categoria</label>
            <select name="category">
            <option value="perros">Perros</option>
            <option value="gatos">Gatos</option>
            <option value="aves">Aves</option>
            </select>
            <label for="color">Color</label>
            <select name="color">
                <option value="blanco">Blanco</option>
                <option value="negro">Negro</option>
                <option value="gris">Gris</option>
                </select>
                <button type="submit">Crear Producto</button>
        </form>
    </main>
  
    <script src="/js/createValidations.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
  <%- include('partials/footer') %>
</html>