<!-- <!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/crearProdudcto.css">
    <title>PetShop Innovador - Crear Producto</title>
</head>

<body>
    <%- include('partials/header')%>
<section class="create-product">
    <h2>Cargar un nuevo producto</h2>
    <h3> Agregue descripción de producto</h3>

    <form action="/product" method="post" enctype="multipart/form-data">
        
        <input type="text" placeholder="Nombre del producto" name="name">
        <input type="text" placeholder="Descripción" name="description">
        <input type="number" placeholder="precio" id="price" name="price">

        <label for="image-create" class="label-create"><i class="fas fa-upload"></i>Carga la imagen</label>
        <input type="file" placeholder="Carga la imagen" id="image-create" name="image">                
        <button type="submit">Subir producto</button>
    </form>
</section>
    <%- include('partials/footer')%>
</body>
</html> -->