<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
    <title>PetShop Innovador - Home</title>
</head>
<body>
  <%- include('partials/header') %>
    <div class="mobile-container">
      <div class="side-by-side-images">
        <a href="#">
          <img id="image-left" src="https://media.lmneuquen.com/p/8e66f9ee5d71ae3c2987078238c338cd/adjuntos/195/imagenes/003/530/0003530994/p21-collar-perrosce_id303988jpg.jpg" alt="Imagen 1" />
        </a>
        <a href="#">
          <img id="image-right" src="https://www.tiendanimal.es/articulos/wp-content/uploads/2020/12/El-Dogo-argentino-1200x900.jpg" alt="Imagen 2" />
        </a>
      </div>
      <div class="product-link">
        <a href="#">
          <img src="https://www.petmania.com.ar/imgs/mcat/mcat-banner-perros.png?v=8" alt="Imagen del producto" />
        </a>
      </div>
      <main>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 1" />
        <div class="product-info">
          <h2>Título del Producto 1</h2>
          <p>Precio: $100</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
        </div>
      </div>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 2" />
        <div class="product-info">
          <h2>Título del Producto 2</h2>
          <p>Precio: $150</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button>
        </div>
      </div>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 3" />
        <div class="product-info">
          <h2>Título del Producto 3</h2>
          <p>Precio: $200</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button>
        </div>
      </div>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 4" />
        <div class="product-info">
          <h2>Título del Producto 4</h2>
          <p>Precio: $120</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
        </div>
      </div>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 4" />
        <div class="product-info">
          <h2>Título del Producto 4</h2>
          <p>Precio: $120</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
        </div>
      </div>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 4" />
        <div class="product-info">
          <h2>Título del Producto 4</h2>
          <p>Precio: $120</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
        </div>
      </div>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 4" />
        <div class="product-info">
          <h2>Título del Producto 4</h2>
          <p>Precio: $120</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
        </div>
      </div>
      <div class="product-card">
        <img src="https://jumboargentina.vtexassets.com/arquivos/ids/760144/Alimento-Para-Perros-Pedigree-Adulto-15-Kg-1-16855.jpg?v=638048145796470000" alt="Producto 4" />
        <div class="product-info">
          <h2>Título del Producto 4</h2>
          <p>Precio: $120</p>
          <a href="/carrito"><button class="add-to-cart-button">Añadir al carro</button></a>
        </div>
      </div>
    </main>
    </div>
  </body>
  <footer>
    <article>
        <h3>Contactanos</h3>
        <a href="#">petshop7@gmail.com</a>
        <p>Tel: 555-555-555</p>
        <p><i class="fas fa-map-marker-alt"></i> Av. Gral Paz 1234</p>
    </article>
    <article>
    <h3>Seguinos</h3>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-tiktok"></i>
    </article>
    <article>
    <h3>Metodos de pago</h3>
    <p><i class="far fa-credit-card"></i>Tarjeta</p>
    <p><i class="fas fa-hand-holding-usd"></i>Efectivo</p>
    <p><i class="fas fa-comments-dollar"></i>Transferencia</p>
    </article>
</footer>
</html>