<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/login.css">

        <title>PetShop Innovador - Login</title>
    </head>
<body>
    <%- include('partials/header') %>
    <main class="main">
        <ul class="errors"></ul>
        <% if (errors) { %>
            <% for (let error in errors) { %>
                <p><%= errors[error].msg %></p>
            <% } %>
        <% } %>
    <form action="login.html" form="post">
        <h1>Iniciar Sesión</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input class="errors" type="text" placeholder="Email" id="email" name="email" value="">
            <% if (locals.errors && errors.email) { %>
                <div class="errors">
                    <%= errors.email.msg %>
                </div>
            <% } %>
        </div>
        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Contraseña" id="contraseña" name="contraseña" value="">
        </div>
        <input class="btn" type="submit" name="" value="Ingresar"> 
        <a href="#">¿Olvidaste tu contraseña?</a>
        <a href="/user/registro">¿No tienes cuenta? Registrate</a>
    </form>
    </main>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/loginValidations.js"></script>
</body>
<%- include('partials/footer') %>
</html>