<footer>
    <article>
        <h3>Contactanos</h3>
        <a href="#">petshop7@gmail.com</a>
        <p>Tel: 555-555-555</p>
        <p><i class="fas fa-map-marker-alt"></i> Av. Gral Paz 1234</p>
    </article>
    <article>
    <h3>Seguinos</h3>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-tiktok"></i>
    </article>
    <article>
    <h3>Metodos de pago</h3>
    <p><i class="far fa-credit-card"></i>Tarjeta</p>
    <p><i class="fas fa-hand-holding-usd"></i>Efectivo</p>
    <p><i class="fas fa-comments-dollar"></i>Transferencia</p>
    </article>
</footer>