<header>
    
    <div class="navbar">
        <nav>
        <div class="logo">
          <img src="/images/logo_petshop.jpeg" alt="Logo">
        </div>
        <input type="text" class="search-input" placeholder="Buscar...">
        <div class="right-icons">
          <a href="/login">
            <i class="fas fa-user"></i>
          </a>
          <a href="">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      <div class="options-list">
        <ul>
            
          <li><a href="">Inicio</a></li>
          <li><a href="">Perros</a></li>
          <li><a href="">Gatos</a></li>
          <li><a href="">Accesorios</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </div>
    </nav>
    </div>
    
 </header>