<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/header.css">
  <title>PetShop Innovador - Home</title>
  <!-- Agrega esto en tu archivo EJS -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const hamburgerButton = document.getElementById('hamburger-button');
      const mobileMenu = document.querySelector('.mobile-menu');
      let menuOpen = false;

      // Agregar un evento click al botón hamburguesa
      hamburgerButton.addEventListener('click', function () {
          // Toggle para mostrar u ocultar el menú de navegación
          mobileMenu.classList.toggle('show-menu');
          menuOpen = !menuOpen;
      });
 
        // Agregar un evento click al documento para cerrar el menú si se hace clic fuera de él
        document.addEventListener('click', function (event) {
            if (menuOpen && !mobileMenu.contains(event.target) && event.target !== hamburgerButton) {
                // Si el menú está abierto, se hace clic fuera de él y no en el botón hamburguesa, cierra el menú
                mobileMenu.classList.remove('show-menu');
                menuOpen = false; // Asegurarse de que el menú esté cerrado
            }
        });
  });
  
  
</script>

</head>
<!-- Encabezado para pantallas pequeñas (menú hamburguesa) -->
<header class="mobile-header">
  <button class="hamburger-button" id="hamburger-button">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
  </button>
  <nav class="mobile-menu">
      <ul>
        <li><a href="/producto">Inicio</a></li>
        <li><a href="#">Perros</a></li>
        <li><a href="#">Gatos</a></li>
        <li><a href="#">Accesorios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
  </nav>
</header>
<!--Encabezado para pantallas grandes -->
<header class="desktop-header">
    <div class="navbar"> 
        <nav class="desktop-menu">
          <!-- div con logo y un search input -->
        <div class="logo">
          <img src="/images/logo_petshop.jpeg" alt="Logo">
        </div>
        <input type="text" class="search-input" placeholder="Buscar...">
<<<<<<< HEAD
        <div class="right-icons">
          <a href="/login">
            <i class="fas fa-user"></i>
          </a>
          <a href="">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      <div class="options-list">
        <ul>
            
          <li><a href="">Inicio</a></li>
          <li><a href="">Perros</a></li>
          <li><a href="">Gatos</a></li>
          <li><a href="">Accesorios</a></li>
          <li><a href="">Contacto</a></li>
=======
        <!--iconos de login y carrito-->
        <div class="right-icons">
          <a href="/user/login">
            <i class="fas fa-user"></i>
          </a>
          <a href="/producto/carrito">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
        <!--menu de navegacion-->
      <div class="options-list">
        <ul>
            
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Perros</a></li>
          <li><a href="#">Gatos</a></li>
          <li><a href="#">Accesorios</a></li>
          <li><a href="#">Contacto</a></li>
>>>>>>> a9b1ab8334a2ebeb698a88e80d9d5575ce0235a4
        </ul>
      </div>
    </nav>
    </div>
<<<<<<< HEAD
    
=======
>>>>>>> a9b1ab8334a2ebeb698a88e80d9d5575ce0235a4
 </header>